.letters {
    font-size: 56px;
    color: #515151;
    .cursor {
        animation: cursor-shine-anim 0.6s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }
}

@keyframes cursor-shine-anim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}